/* video */
.video { 
  overflow: hidden;
  .wrapper {
    position: relative;
    z-index: 2;
  }
  &__container {
    padding-top: 11.25em;
    padding-bottom: 12.5em;
    position: relative;
  }
  &__video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__content {
    max-width: 51em;
    margin-left: auto;
  }
  &__title {
    
  }
  &__list {
    font-size: 1.625em;
    line-height: 1.4em;
    padding-left: 5.5em;
    padding-bottom: 1.1em;
    border-bottom: 0.25em solid rgba(255, 255, 255, 0.1);
    margin-bottom: 3em;
    li {
      margin: 1.5em 0;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 2.3em;
        height: 1px;
        background-color: #26E8D2;
        position: absolute;
        top: 0.7em;
        right: calc(100% + 0.9em)
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__btn {
    margin-right: 5em;
  }
  &__price {
    font-size: 2.625em;
    span {
      font-size: 0.6em;
    }
  }
  // &__img-mobile {
  //   display: none;
  // }
  @media (max-width: $break_sm) {
    &__container {
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgba(0,0,0,.5);
      > div {
        &:nth-child(1) {
          video {
            left: 0 !important;
            transform: translate(-16em ,-50%) !important;
          }
        }
      }
    }
    &__content {
      min-height: 100vh;
      padding-top: 5em;
      padding-bottom: 5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__title {
      margin-bottom: 3em;
    }
    &__btn {
      width: 100%;
      margin-right: 0;
      order: 1;
      .btn {
        width: 100%;
      }
    }
    &__price {
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
    }
    &__container {
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.7);
      }
    }
    &__video {
      left: 0;
      transform: translate(-17%,-50%);
    }
    // &__img-mobile {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }
  }
}
/* /video */