/* welcome */
.welcome { 
  display: flex;
  align-items: flex-end;
  // height: 1080px;
  min-height: 100vh;
  padding-top: 16em;
  padding-bottom: 11.25em;
  position: relative;
  overflow: hidden;
  .wrapper {
    z-index: 2;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 4.6em;
    border-bottom: 0.25em solid rgba(255, 255, 255, 0.1);
  }
  &__title {
    max-width: 11em;
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
  &__content {
    max-width: 32.5em;
  }
  &__text {
    font-size: 1.3125em;
    line-height: 1.6em;
    margin-bottom: 2em;
    opacity: 0;
  }
  &__btn {
    opacity: 0;
  }
  &__video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  @media (max-width: $break_sm) {
    padding-bottom: 8em;
    &__title {
      max-width: none;
      margin-bottom: 0.7em;
    }
    &__content {
      max-width: none;
    }
    &__text {
      margin-bottom: 4em;
    }
    &__btn {
      .btn {
        width: 100%;
      }
    }
  }
}
/* /welcome */